<div class="container-full text-center">
    <div class="body">
        <div class="container">
            <div class="col-md-4 col-md-offset-2">
                <h3><strong>Login</strong></h3>
                <div class="jumbotron text-center">
                    <!-- LOGIN FORM -->
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <h3><strong>Sign Up</strong></h3>
                <div class="jumbotron text-center">
                    <!-- REGISTRATION FORM -->
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-full text-center">
    <div class="about-web" style="padding-bottom: 0">
        <div class="container">
            <div class="col-md-8 col-md-offset-2" >
                <h1>Ini apaan sih?</h1>
				<br>
                <p>Aplikasi website ini merupakan project sederhana buatan seorang mahasiswa yang baru saja lulus dan sedang mencari kerja. Siapakah dia? Liat ke footer. Ok, jadi website ini bertujuan untuk memudahkan kehidupan orang - orang yang malas dan membutuhkan kemudahan untuk mengatur keuangannya. Penasaran?</p>
                
                <p>Coba aja dulu sign up!</p>
                <br>
                <img src="http://i.imgur.com/8I1U3pY.png" alt="kching-huge" class="img-responsive center-block" style="width: 500px">
            </div>
        </div>
    </div>
</div>
